/*desenha bolinha sem content*/
.cores label:after{
  content: '';
  display:block;
  border-radius:50%; /*faz o circulo*/
  width:50px;
  height:50px;
}

label[for=verde]:after{
  background-color:#33cc66;
}

label[for=rosa]:after{
  background-color:#FF6666;
}

label[for=azul]:after{
  background-color:#6666FF;
}

/*estilizar a bolinha selecionada*/
.cores input:checked +label:after{
  border: 6px solid rgba(0,0,0,0.3);
}

/*deixa a bolinha no mesmo tamanho - a borda conta ate a border e nao content*/
.cores label:after{
  -moz-box-sizing: border-box;
  box-sizing:border-box;
}

/*apagar o botao radio*/
.cores input[type=radio]{
  display:none;
}

/*mostrar a cor apenas selecionada - irmao proximo*/
.cores input:not(:checked)+label img{
  display:none;
}

.cores label:after{
  position:absolute;
}

/*bolinhas posicionadas em relacao ao fieldset*/
.cores{
  position:relative;
  padding-top:90px;
}

.cores label:after{
  position:absolute;
  top:30px;
}

label[for=verde]:after{
  left:0;
}

label[for=rosa]:after{
  left:60px;
}

label[for=azul]:after{
  left:120px;
}

.cores label img{
  display:block;
  max-width:100%;
}

/*espacamento*/
.produto {
 color:#333;
 line-height:1.3;
 margin-top:2em;
}

/*estilizando fontes*/
.produto h1{
  font-size: 1.8em;
  font-weight:bold;
}

.produto p{
  font-size:1.2em;
  font-style:italic;
  margin-bottom:1em;
}

/*legenda cor*/
.produto legend{
  display:block;
  font:bold 0.9em/2.5 Arial;
  text-transform:uppercase;
}

/*botao comprar*/
.comprar{
  background:#91bd3c;
  border:none;
  color:#333;
  
  font-size: 1.4em;
  text-transform: uppercase;
  box-shadow: 0 1px 3px #777;
  
  display:block;
  padding: 0.5em 1em;
  margin: 1em 0;
}

/*opcional
.cores label:after{
  border:6px solid rgba(0,0,0,0.1);
  transition:1s;
}*/

@media (min-width:630px){
  .produto{
  /* a foto se posiciona absolutamente em relacao ao elemento*/
  position:relative;
  
  /*espaco para a foto ocupar a esquerda*/
  padding-left:40%;
  }
  
  .cores{
  /*mudando de relative para static. assim a foto nao se posiciona em relacao a mim*/
  position:static;
  
  /*reiniciando o padding-top, pois nao é mais necessario*/
  padding:0;
  }
  
  .cores legend{
  /*voltar ao fluxo da pagina*/
  position:static;
  }
  
  .cores label img{
  /* posicionando esquerda em relacao ao produto*/
  position:absolute;
  top:0;
  left:0;
  }
  
  .cores label:after{
  /*posicionando bolinha flutuando ao lado da outra - redimensionabents*/
  position:static;
  float:left;
  }
  
  .cores label img{
  /*evita que imagem vaze*/
  max-width:35%;
  max-height:100%;
  }
  
  .produto{
  /*aumentar fonte*/
  font-size:1.2em;
  }
  
  .cores:label-after{
  margin-right:10px;
  }
}
